# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Modules
node_modules
dist
dist-ssr
*.local
.vite
.cache

# Coverage
.coverage

# Docs
site

# Editor directories and files
.vscode
todo.*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
makefile

# Environment
.ipynb_checkpoints
__pycache__
*.pyc
.env

# Inference files
*.pt
*.pth
*.onnx
*.wasm

# Dataset files
*.lance
