site_name: Pixano Documentation
theme:
  name: material
  logo: assets/pixano_white.png
  favicon: assets/pixano.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: custom
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: custom
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Poppins
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.top
    - navigation.indexes
    - toc.integrate
repo_url: https://github.com/pixano/pixano
repo_name: pixano/pixano
copyright: Licensed under the CeCILL-C license
extra:
  social:
    - icon: material/email-outline
      link: mailto:pixano@cea.fr
      name: Contact us
    - icon: material/web
      link: https://list.cea.fr/en/
      name: CEA LIST
    - icon: fontawesome/brands/github
      link: https://github.com/pixano/pixano
      name: Pixano on GitHub
extra_css:
  - assets/extra.css
plugins:
  - search
  - autorefs
  - gen-files:
      scripts:
        - ../pixano/docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          paths: ["pixano"]
          import:
            - https://docs.python.org/3.10/objects.inv
            - https://numpy.org/doc/1.23/objects.inv
            - https://pandas.pydata.org/pandas-docs/version/1.5/objects.inv
            - https://pillow.readthedocs.io/en/stable/objects.inv
            - https://arrow.apache.org/docs/objects.inv
            - https://docs.pydantic.dev/2.4/objects.inv
            - https://ipython.readthedocs.io/en/8.13.2/objects.inv
          options:
            docstring_style: google
            docstring_options:
              returns_named_value: false
              ignore_init_summary: yes
            show_submodules: true
            docstring_section_style: table
            members_order: alphabetical
            merge_init_into_class: yes
            show_root_heading: true
            show_source: true
            heading_level: 1
            preload_modules:
              - pydantic

nav:
  - "Home": https://pixano.github.io/

  - "Pixano":
      - "Getting started":
          - getting_started/index.md
          - "Installing Pixano": getting_started/installing_pixano.md
          - "Importing datasets": getting_started/importing_datasets.md
          - "Exporting datasets": getting_started/exporting_datasets.md
          - "Launching the app": getting_started/launching_the_app.md
          - "Using the app": getting_started/using_the_app.md
      - "API reference": api_reference/

  - "Pixano Inference": https://pixano.github.io/pixano-inference/
