# =====================================
# Copyright: CEA-LIST/DIASI/SIALV/LVA
# Author : pixano@cea.fr
# License: CECILL-C
# =====================================

name: Backend

on:
  push:
    paths:
      - "pixano/**"
      - "tests/**"
      - ".github/workflows/backend.yml"
      - "pyproject.toml"
      - ".pre-commit-config.yaml"
    branches:
      - "main"
  pull_request:
    paths:
      - "pixano/**"
      - "tests/**"
      - ".github/workflows/backend.yml"
      - "pyproject.toml"
      - ".pre-commit-config.yaml"
    branches:
      - "main"

permissions:
  contents: read

jobs:
  pre-commit:
    name: Lint and format
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync

      - name: Run pre-commit
        run: uv tool run pre-commit run --all-files

      - name: Format top-level Markdown and YAML files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./*.{md,yml}
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8

      - name: Format GitHub actions YAML files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./.github/workflows/*.yml
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8

      - name: Format docs Markdown files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./docs/**/*.md
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8

      - name: Format backend Markdown files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./pixano/**/*.md
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8
  pytest:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          uv sync --group test

      - name: Test with pytest
        run: uv run pytest --cov=pixano/ tests/
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
