# @Copyright: CEA-LIST/DIASI/SIALV/LVA (2023)
# @Author: CEA-LIST/DIASI/SIALV/LVA <pixano@cea.fr>
# @License: CECILL-C
#
# This software is a collaborative computer program whose purpose is to
# generate and explore labeled data for computer vision applications.
# This software is governed by the CeCILL-C license under French law and
# abiding by the rules of distribution of free software. You can use,
# modify and/ or redistribute the software under the terms of the CeCILL-C
# license as circulated by CEA, CNRS and INRIA at the following URL
#
# http://www.cecill.info

name: Format

on:
  push:
    branches:
      - "develop"
      - "main"
  pull_request:
    branches:
      - "develop"

permissions:
  contents: read

jobs:
  # This workflow will format frontend code (Svelte, Typescript) and project files (Markdown, YAML) with Prettier

  format_front:
    name: Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install dependencies
        run: |
          cd ui
          pnpm i --frozen-lockfile

      - name: Format frontend code with Prettier
        run: |
          cd ui
          pnpm format_check

      - name: Format top-level Markdown and YAML files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./*.{md,yml}
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8

      - name: Format GitHub actions YAML files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./.github/workflows/*.yml
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8

      - name: Format docs Markdown files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./docs/**/*.md
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8

      - name: Format backend Markdown files with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          prettier_options: --check ./pixano/**/*.md
          # Prettier 3.0 not yet available in VSCode extension
          prettier_version: 2.8.8

  # This job will format backend code (Python) and notebooks (Jupyter) with black
  # For more information see: https://black.readthedocs.io/en/stable/integrations/github_actions.html
  format_back:
    name: Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Format backend code with black
        uses: psf/black@stable
        with:
          options: "--check --verbose --diff --color"
          src: "./pixano"
          version: "~= 24.0"

      - name: Format backend tests with black
        uses: psf/black@stable
        with:
          options: "--check --verbose --diff --color"
          src: "./tests"
          jupyter: true
          version: "~= 24.0"

      - name: Format Jupyter notebooks with black
        uses: psf/black@stable
        with:
          options: "--check --verbose --diff --color"
          src: "./notebooks"
          jupyter: true
          version: "~= 24.0"
