# =====================================
# Copyright: CEA-LIST/DIASI/SIALV/LVA
# Author : pixano@cea.fr
# License: CECILL-C
# =====================================

name: Publish

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  publish_pypi:
    name: PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup Node.js 23
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Setup pnpm 10.4.1
        uses: pnpm/action-setup@v4
        with:
          version: 10.4.1

      - name: Build package
        run: uv build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1

  publish_docs:
    name: Documentation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set VERSION environment variable
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Configure git credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Create cache_id for key creation
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - name: Create cache key with cache_id
        uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install dependencies
        run: uv sync --group docs

      - name: Publish documentation website
        run: uv run mike deploy --push --update-aliases ${{ env.VERSION }} stable

  publish_docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set VERSION environment variable
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            pixano/pixano:${{ env.VERSION }}
            ${{ github.event.release.prerelease == false && 'pixano/pixano:stable' || '' }}
