# @Copyright: CEA-LIST/DIASI/SIALV/LVA (2023)
# @Author: CEA-LIST/DIASI/SIALV/LVA <pixano@cea.fr>
# @License: CECILL-C
#
# This software is a collaborative computer program whose purpose is to
# generate and explore labeled data for computer vision applications.
# This software is governed by the CeCILL-C license under French law and
# abiding by the rules of distribution of free software. You can use,
# modify and/ or redistribute the software under the terms of the CeCILL-C
# license as circulated by CEA, CNRS and INRIA at the following URL
#
# http://www.cecill.info

name: Test

on:
  push:
    branches:
      - "develop"
      - "main"
  pull_request:
    branches:
      - "develop"

permissions:
  contents: read

jobs:
  # This job will test backend code (Python) with unittest
  # For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
  python_test:
    name: Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
          python -m pip install pixano-inference@git+https://github.com/pixano/pixano-inference@v0.3.0b1

      - name: Test with unittest
        run: |
          python -m unittest discover -s tests/ -p "test_*.py"
